<nav class="navbar">
  <div class="navbar-brand">
    <div class="brand-icon">A</div>
    <span class="brand-text">Todo List</span>
  </div>
  
  <div class="navbar-nav">
    <a href="#" class="nav-link">
      <i class="icon-home"></i> Home
    </a>
    <a href="#" class="nav-link active">
      <i class="icon-list"></i> Todos
    </a>
  </div>

  <div class="navbar-actions" *ngIf="currentUser">
    <span class="user-name">{{ currentUser.username }}</span>
    <button class="logout-btn" (click)="logout()">
      <i class="icon-logout"></i> Logout
    </button>
  </div>
</nav>